extends layout 
block inicio 
    section(class="container mt-5")
        h2.text-center Formulario de ingreso
        form(action="/", method="post") 
            fieldset(class="d-flex flex-column align-items-center flex-xl-row justify-content-xl-center gap-3")
                    legend.text-center Ingrese un Producto
                    input(type="text" name="nombre" placeholder="Nombre...")
                    input(type="number" name="precio" placeholder="Precio...")
                    input(type="url" name="foto" placeholder="Foto...")
                    input(type="submit" value="Agregar producto")
        form(class="d-flex justify-content-center mt-3" action="/productos" method="get")
            input(type="submit" value="Ver galería")